body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  /* background-image: url("C:\Users\bilal.siddiqui\Downloads\MicrosoftTeams-image.png");
  background-size: cover; */
  /* text-align: center; */
  background-color: #f0f2f5;
  font-family: Arial, Helvetica, sans-serif;
}

#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

header.HandyKrafts {
  background-color: rgba(0, 0, 0, 0.4);
  color: ff6a95;
}

form {
  /* background-color: #F0FFFF; */
  max-width: 350px;
  margin: 100px auto;
  padding: 10px 20px;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 2%;

}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #333;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.footer {
  position: absolute;
  /* Comment below 2 lines to make the footer non-sticky */
  /* left: 0;
  bottom: 0; */
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
}

.para {
  font-weight: 600;
}

label {
  font-weight: 600;
}

.logo-img {
  float: left;
  position: relative;
}

.topnav{
  overflow-y:scroll;
    overflow-x:hidden;
}
.topnav img {
  background-color: white;
}

.errorMessage {
  color: red;
}

hr { 
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
} 